@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&family=Roboto+Mono:ital,wght@0,100;0,100..700;0,200;1,100..700&family=Roboto:ital,wght@0,400;1,100&display=swap');
/* base styles */
*{
* {
  margin-top: 0px;
  margin: 0px;
  padding-top: 0px;
  font-family: "Quicksand";
}
*
 {
  --border-color: #272727;
  --link-color: #f1356d;
  --text-color: #333;
  --hr-color:rgba(0,0,0,.1);
  --code-background-color: rgb(37, 37, 37);
  --code-foregraound-color: white;
  --checkbox-background-color: white;
  --my-single-menu-box-shadow-color: rgb(207, 207, 207);
  --my-single-menu-background-color: rgb(250, 250, 250);
  --post-image-border-color: #d8d8d8;
  --sidebar-right-vertical-border-color: #d8d8d8;
  --sidebar-left-background-color: rgb(250, 250, 250);
  --sidebar-left-vertical-border-color: #ebebeb;
  --avatar-border-color: #272727;
  --burger-menu-color:#fff;
}
/*not sure if it is used*/
.index{
  color: blue;
}
.wrapper
{
  display:grid;
  grid-template-rows: repeat(4, [row] auto  );
  grid-template-columns: auto;
  display: inline-grid;
  border: var(--border-color) 2px ;
}
table {
  display: table; 
  border-collapse: collapse;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 0px;
  border: 2px;
  width: 100%;
}
.readingtime{
  color: var(--text-color);
  padding-left: 5px;
  padding-bottom: 5px;
}
.indextitle
{
  padding-left: 5px;
  padding-top: 2px;
}
a
{
  color: var(--link-color);
  text-decoration: none; /* toglie il sottolineato dei link*/
  width: auto;
  /*display: contents;  /* Shrinks the <a> to the size of its content (the card) */
}
a:visited
{
  color: var(--link-color);
}
a li
{
  color: var(--link-color);
}

hr
{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid var(--hr-color);
}
#banner hr
{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid var(--hr-color);
}

td
{
  vertical-align: top;
  /*border: solid 1px rgb(205,205,205);*/
}
li
{
  padding-bottom: 10px;
}
code
{
  /*background-color: rgb(223, 255, 228);*/
  background-color: var(--code-background-color);
  color: var(--code-foregraound-color);
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  font-family: monospace;
}
input[type="checkbox"] {
  appearance: none; /* Remove default checkbox styling */
  width: 14px; /* Customize width */
  height: 14px; /* Customize height */
  border: 1px solid var(--link-color); /* Set border color */
  background-color: var(--checkbox-background-color);
  display: inline-flex; /* Enable flexbox for centering */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  text-align: center;
  vertical-align: middle;
}
input[type="checkbox"]:checked {
  background-color: var(--link-color); /* Change background color when checked */
}
input[type="checkbox"]:checked::after { 
  content: "✔";
  color: var(--checkbox-background-color);
  font-size: 12px;
}

/* per i sottotitoli dentro Index dei blog post */
ul ul
{
  font-size: 15px;
  font-style: italic;
}
.Post ul
{
  margin-left: -20px;
}
.Post li
{
  margin-bottom: -8px;
}
.Post
{
  margin-right: 500px;
}
.my-single-menu
{
 
  background-color: var(--my-single-menu-background-color);
  font-size: 18px;
  box-shadow: 0 8px 6px -3px var(--my-single-menu-box-shadow-color);
  max-width: 600px;
  height: auto; /* it was 50px now is auto because of the image fit keep image consistent*/
  color: var(--link-color);
}
.my-single-menu img
{
  width: 600px;
  height: 200px;
  object-fit: cover;
}
a.my-single-menu
{
  display: inline-block;  /* Shrinks the <a> to the size of its content (the card) */
  text-decoration: none;  /* Remove underline if needed */
}
.my-single-menu post-date
{
  font-size: 13px;
}
.content {
  margin-left: 250px;
  margin-right: 0px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction:column;
  align-items: flex-start;
}

.allfilter button
{
  appearance: none; 
  border: 0px;
  background-color: white;
  width: fit-content;
  padding: 0px;
  margin-top: 10px;
  
}
.Post p
{
  margin-top: 15px;
  margin-bottom: 15px;
}
.Post img{
  max-width: 100%;
  border: solid 2px;
  border-color: var(--post-image-border-color);
  display:block;
}
#banner {
  overflow: hidden;      /* Hide overflow to ensure cropping */
  position: relative;    /* Set position for absolute positioning of the image */ 
}
#banner img {
  width: 100%;
  height: auto;
  object-position: 10% 70%;
  object-fit: cover;    /* Crop the image to fit the container dimensions */
}

.sidebarRight { 
  width: 480px; /* Keep the desired width */
  z-index: 1000; /* Choose a sensible z-index */
  position: fixed; /* This fixes the sidebar to the right of the viewport */
  right: 0; /* Aligns it to the right side */
  top: 0; /* Aligns it to the top */
  /*overflow-y: auto; /* Allow scrolling within the sidebar if content overflows */
  margin-top: 100px;
}
.sidebarRight .sidebarRightChild
{
  position: fixed;
  height: auto;
  padding-left:  10px;
  padding-right: 0px;
  display: inline-block;
  max-width: 450px;
  overflow-wrap: break-word;
  border-left: var(--sidebar-right-vertical-border-color) solid 1px; 
}
.sidebarRight .sidebarRightChild .tags
{
  margin-top: 0px;
  display: flex;
  flex-flow: row wrap;
  width: auto;
  /*justify-content: space-evenly;*/
}
.sidebarRight .sidebarRightChild my-tag
{
  color: var(--code-foregraound-color);
  background-color: var(--link-color);
  border-radius: 8px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px;
}
.allfilter
{
  margin-left: 890px;

}
.allfilter{
  margin-left: 650px; /* Keep the desired width */
  
  z-index: 1000; /* Choose a sensible z-index */
  position: fixed; /* This fixes the sidebar to the right of the viewport */

  /*overflow-y: auto; /* Allow scrolling within the sidebar if content overflows */
  padding-top: 50px;
  word-wrap: break-word;
  word-break: break-all;
}
.allfilter .allfilterchild
{
  position: fixed;
  height: auto;
  padding-left:  10px;
  padding-right: 0px;
  display: inline-block;
  overflow-wrap: break-word;
  border-left: var(--sidebar-right-vertical-border-color) solid 1px;
}
.allfilter .allfilterchild .tags
{
  margin-top: 0px;
  display: flex;
  flex-flow: row wrap;
  width: auto;
}
.allfilter .allfilterchild my-tag
{
  color: var(--code-foregraound-color);
  background-color: var(--link-color);
  border-radius: 8px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 5px;
}

.sidebarLeft  
{
  border-right: var(--sidebar-left-vertical-border-color) solid 1px; 
  position:fixed;
  background-color: var(--sidebar-left-background-color);
  height: 100%;
  width: 250px;
  transition: transform 0.3s ease; /* Added for smooth sliding */
  z-index: 2;
}
.sidebarLeft li:hover 
{
  background-color: var(--link-color)
}

.sidebarLeft a li:hover 
{
  color: var(--code-foregraound-color);
}

.sidebarLeft .avatar 
{
  margin: auto;
}

.sidebarLeft .avatar img
{
  display: block;
  margin-top: 30px;
  border-radius: 50%;
  height: 170px;
  width: 170px;
  border-color: var(--avatar-border-color);
  border-style: solid;
  border-width: 5px;
  margin-left: auto;
  margin-right: auto;
}

.sidebarLeft ul
{
  display: block;
  padding: 0px; /* it is needed */
  padding-top: 30px;
}
.sidebarLeft li
{
  padding-left: 30px;
  padding-top: 15px;
  list-style-type: none;
  height: 30px;
}
.tagfilteroption
{
  padding:0px;
  text-decoration: none;
}

/*------BURGER MENU TEST-------*/
/* Sidebar default styling */

/* Burger menu styling */
.burger-menu {
  display: none; /*now showing for larger display*/
  font-size: 30px;
  padding-right: 7px;
  padding-left: 7px;
  background-color: var(--link-color); /* Background color of the button */
  color: var(--burger-menu-color); /* Color of the burger icon */
  z-index: 1000;
  position: fixed;
}
.search{
  text-align-last: center;
  width: 100%;
}
input[type=text] {
  all: unset;
  text-align: center;
  outline: none;
  width: 100%;
  font-size: 1.5rem;
  height: 50px;
  padding: 5px 5px;
  margin: 5px 0;
  border: 0px solid #272727;
}
input[type="text"]:focus {
  all: unset;
  text-align: center;
  outline: none;
  font-size: 1.5rem;
  width: 100%;
  height: 50px;
  padding: 5px 5px;
  margin: 5px 0;
  border: 0px solid #272727;
}
.Post pre{
  background-color: var(--sidebar-left-background-color);
  font-family: monospace;
  padding-left: 5px;
  border-left: 1px solid;
  border-color: var(--post-image-border-color);
  white-space: pre-wrap; /* Allow wrapping of long lines */
  word-wrap: break-word; /* Ensure long words break to the next line */
  overflow-wrap: break-word; /* Ensure long words break to the next line */
}
pre b{
  background-color: var(--sidebar-left-background-color);
  color:rgb(0, 153, 128);
  font-family: monospace;
  white-space: pre-wrap; /* Allow wrapping of long lines */
  word-wrap: break-word; /* Ensure long words break to the next line */
  overflow-wrap: break-word; /* Ensure long words break to the next line */

}
.result{
  display: flex;
  font-size: 1.2rem;
}
.resultdescription{
    border:1px solid;
    border-color:white;
    padding:5px;
    width:100%;
    background:#F5F5F5;   
    text-align-last: left;
    border:0px solid white;
    margin: 5px 0;
  } 
  .searchlinktopost{
    background:#f7e4d7;
    padding:10px;
    min-width:200px;
    border-color:white;
    border:0px solid white;
    margin: 5px 0;
  }
  table{
    border: 1px solid;
  }
  th{
    border: 1px solid;
    padding: 10px;
  }
  tr{
    border: 1px solid;
  }
  td{
    border: 1px solid;
    padding: 10px;
  }
blockquote{
  background-color: antiquewhite;
  padding: 10px;
  font-style: italic;
}
} 