@media only screen and (max-width: 1280px) 
{
    body 
    {
    background-color: rgb(255, 255, 255);
    }
    .content {
    margin-left: 250px;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    padding-top: 50px;
    overflow: hidden;
    display: block;
    }
    .Post
    {
    margin-right: 0px;
    overflow-wrap: break-word;
    }
    .Post img{
    max-width: 100%;
    border-radius: 2px;
    border-color: #d8d8d8 ;
    }
    .sidebarRight
    {
    visibility: hidden;
    height: 100%;
    width: 200px;
    border-left: #d8d8d8 solid 1px;
    float: right;
    } 
    .allfilter
    {
        visibility: hidden;
    }
    .resultdescription{
        border:1px solid;
        border-color:white;
        padding:5px;
        min-width:auto;
    }
}